.image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
}
.mission {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 18vw;
    background-color: white;
    width: 1000px;
    height: 250px;
    position: absolute;
    z-index: 99;
    margin-top: 125px;
}
.title {
    font-size: xx-large;
    font-weight: bolder;
}
.statement {
    font-size: x-large;
}
