/* .main {
    display: flex;
} */
.image {
    /* background-image: url('https://cdn.pixabay.com/photo/2013/07/18/10/55/microbiology-163470_960_720.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
}
.mission {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: x-large;
    margin-left: 15vw;
    background-color: white;
    width: 1000px;
    height: 250px;
    position: absolute;
    z-index: 99;
    margin-top: 175px;
}
