.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.navItem {
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: large;
    padding-right: 3rem;
}
.navItem:hover {
    color: #4f80ae;
    text-decoration: underline;
}
.navItem:last-child {
    padding-right: none;
}